# Ignore node_modules directory
node_modules

# Ignore development files and directories
.git
.vscode
.idea

# Ignore Docker context files
.dockerignore
.dockerignore.example

# Ignore npm/yarn logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore local configuration files
.env
config.json

# Ignore macOS directory attributes
._*

# Ignore Windows Thumbs.db file
Thumbs.db

# Ignore editor backup files
*~
